.box {
    padding: 3em;
    width: 25%;
    box-shadow: 0 0 0.3em 0.1em rgb(165, 165, 165);
    border-radius: 2em;
}

.forms {
    padding-top: 3em;
    height: 100vh;
}

.navbar {
    position: fixed;
    left: 0;
    right: 0;
}