
.nav{
    
    display: flex;
    background-color: rgb(46, 43, 43);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.navLeft{
    display: flex;
    justify-self: self-start;
}

.navRight{
    display: flex;
    justify-self: self-end;
}

.navTitle{
    font-family: roboto-reg;
    font-size: 40px;
    color: white;
}
.divCenter{
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.containerForm{
    margin-top: 3%;
    margin-bottom: 3%;
}
.border{
    border: 2px solid rgb(8, 8, 8);
    border-radius: 10px;
}

.navPadding{

  cursor: pointer;

font-family: roboto-reg;
font-size: 20px;
color: white;
padding-top: 20px;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 20px;

}

.navPadding:hover{
  background-color: white;
  color: black;

  
}
.navPadding:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.descriptionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 2px;
  margin-bottom: 10px;
}
.itemContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 3px;
  padding-right: 3px;
  width: 190px;
  height: 300px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.input{
  height: 30px;
  width: 300px;
  border-radius: 10px;
  background-color: rgb(202, 202, 202);
}