@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500&display=swap");
* {
  font-family: "Baloo Chettan 2", cursive;
  margin: 0px 0px;
  color: #23a8f2;
  background-color: #333333;
  box-sizing: border-box;
}

header {
  padding: 10px 30px;
  display: flex;
  background-color: #252526;
  justify-content: space-between;
  align-items: center;
}
header ul {
  background-color: #252526;
  list-style: none;
}
header ul li {
  background: inherit;
  text-decoration: none;
  display: inline;
}
header ul a {
  background-color: #252526;
}
header h4 {
  background-color: #252526;
  padding: 0px;
  margin: 0px;
}

.btn {
  background-color: #252526;
  width: 100px;
  height: 40px;
  margin: 0px 5px;
  border: 4px solid;
  color: #23a8f2;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.btn::before, .btn::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 4px;
  background: #252526;
  transform: skewX(50deg);
  transition: 0.4s linear;
}

.btn::before {
  top: -4px;
  left: 10%;
}

.btn::after {
  bottom: -4px;
  right: 10%;
}

.btn:hover::before {
  left: 80%;
}

.btn:hover::after {
  right: 80%;
}

.user-access {
  max-width: 500px;
  margin: 4.5rem auto 2rem auto;
  border-radius: 10px;
  padding: 2rem;
  background-color: #252526;
}
.user-access form {
  margin: 0.5rem 0;
  border-bottom: 3px solid #23a8f2;
  padding-bottom: 1rem;
}

.login-title,
.register-title,
.login-form,
.register-form,
.textbox {
  background-color: #252526;
}

.textbox input {
  background-color: #1d1d1d;
  color: #23a8f2;
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
  width: 95%;
  border: 1px solid grey;
}

.login-title,
.register-title {
  font-size: 24px;
}

.login-btn,
.register-btn {
  margin: 1rem 0;
  margin-left: 78%;
}

.action-button {
  display: grid;
  margin-top: 5px;
  background-color: #252526;
}
.action-button span {
  cursor: pointer;
  font-size: 18px;
  background-color: #252526;
  margin: inherit;
}
.action-button a {
  background-color: #252526;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: #252526;
  color: #fff;
  padding: 20px;
  position: static;
  bottom: 0;
  width: 100%;
}
footer p {
  background-color: inherit;
}

.product-container {
  margin: 30px;
}
.product-container h4 {
  background-color: #252526;
  font-size: 24px;
  padding: 5px;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}
.product-container .product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product-container .product-list .product {
  max-height: 100%;
  width: 250px;
  margin: 15px;
  padding: 5px 10px;
}
.product-container .product-list .product .product-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}
.product-container .product-list .product .product-content img {
  width: 100%;
  max-height: 300px;
}
.product-container .product-list .product .product-content .description {
  padding: 5px 0 5px 0;
  margin-bottom: 4px;
  background-color: #252526;
  border-radius: 5px;
}
.product-container .product-list .product .product-content .description p {
  background-color: inherit;
  padding: 5px 10px 5px 10px;
}
.product-container .product-list .product .product-content .description .p-name {
  font-size: large;
  margin: inherit auto;
}
.product-container .product-list .product .product-content .description .action {
  background-color: inherit;
  display: flex;
  justify-content: center;
  border-top: 1px solid #23a8f2;
}
.product-container .product-list .product .product-content .description .action i {
  background-color: inherit;
  margin: 0 8px;
  padding-top: 8px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
