header {
    padding: 10px 30px;
    display: flex;
    background-color: $color-primary;
    justify-content: space-between;
    align-items: center;

    .middle-nav {
        span {
            margin: 0px 10px;
        }
    }

    ul {
        background-color: $color-primary;
        list-style: none;

        li {
            background: inherit;
            text-decoration: none;
            display: inline;
        }

        a {
            background-color: $color-primary;
        }
    }

    h4 {
        background-color: $color-primary;
        padding: 0px;
        margin: 0px;
    }
}