.users-title {
    text-align: center;
    margin: 30px 40% 0 40%;
    font-size: 24px;
    padding: 15px;
    background-color: $color-primary;
    border-radius: 5px;
}

.users-table {

    table {
        margin: 0 auto;
        margin-top: 20px;
        padding: 15px;
        background-color: $color-primary;
        border-radius: 5px;
        border: 1px $color-font solid;
    }
}

.btn-simple {
    min-width: 100px;
    border-radius: 5px;
    cursor: pointer;
}