@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2:400,500&display=swap');

$color-base: #333333;
$color-primary: #252526;
$color-font: #23a8f2;
$color-backrgound: #1d1d1d;
$font: 'Baloo Chettan 2',
cursive;

* {
  font-family: $font;
  margin: 0px 0px;
  color: $color-font;
  box-sizing: border-box;
}

body {
  background-color: $color-base;
}

@import './navbar';
@import './button';
@import './loginregister';
@import './footer';
@import './card';
@import './addProductBtn';
@import './modal';
@import './userInfo';